In [1]:
pip install geoip2 pandas

Collecting geoip2
  Using cached geoip2-4.8.1-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: pandas in e:\anaconda\envs\venvhak\lib\site-packages (2.2.3)
Collecting aiohttp<4.0.0,>=3.6.2 (from geoip2)
  Using cached aiohttp-3.11.8-cp312-cp312-win_amd64.whl.metadata (8.0 kB)
Collecting maxminddb<3.0.0,>=2.5.1 (from geoip2)
  Using cached maxminddb-2.6.2-cp312-cp312-win_amd64.whl.metadata (5.2 kB)
Requirement already satisfied: requests<3.0.0,>=2.24.0 in e:\anaconda\envs\venvhak\lib\site-packages (from geoip2) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in e:\anaconda\envs\venvhak\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\envs\venvhak\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\envs\venvhak\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\envs\venvhak\lib\site-packages (from pandas) (2024.2)
Collecting aiohappyeyeballs>=2.3.0 (from aiohttp<4.0.0,>=3.6.2->geoip2)
  Using cached aiohappyeyeballs-2.4.4-py3-none-any.whl.metadata (6.1 kB)
Collecting aiosignal>=1.1.2 (from aiohttp<4.0.0,>=3.6.2->geoip2)
  Using cached aiosignal-1.3.1-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: attrs>=17.3.0 in e:\anaconda\envs\venvhak\lib\site-packages (from aiohttp<4.0.0,>=3.6.2->geoip2) (24.2.0)
Collecting frozenlist>=1.1.1 (from aiohttp<4.0.0,>=3.6.2->geoip2)
  Using cached frozenlist-1.5.0-cp312-cp312-win_amd64.whl.metadata (14 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp<4.0.0,>=3.6.2->geoip2)
  Using cached multidict-6.1.0-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Collecting propcache>=0.2.0 (from aiohttp<4.0.0,>=3.6.2->geoip2)
  Using cached propcache-0.2.0-cp312-cp312-win_amd64.whl.metadata (7.9 kB)
Collecting yarl<2.0,>=1.17.0 (from aiohttp<4.0.0,>=3.6.2->geoip2)
  Using cached yarl-1.18.0-cp312-cp312-win_amd64.whl.metadata (69 kB)
Requirement already satisfied: six>=1.5 in e:\anaconda\envs\venvhak\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\anaconda\envs\venvhak\lib\site-packages (from requests<3.0.0,>=2.24.0->geoip2) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda\envs\venvhak\lib\site-packages (from requests<3.0.0,>=2.24.0->geoip2) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\anaconda\envs\venvhak\lib\site-packages (from requests<3.0.0,>=2.24.0->geoip2) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\envs\venvhak\lib\site-packages (from requests<3.0.0,>=2.24.0->geoip2) (2024.8.30)
Using cached geoip2-4.8.1-py3-none-any.whl (27 kB)
Using cached aiohttp-3.11.8-cp312-cp312-win_amd64.whl (437 kB)
Using cached maxminddb-2.6.2-cp312-cp312-win_amd64.whl (36 kB)
Using cached aiohappyeyeballs-2.4.4-py3-none-any.whl (14 kB)
Using cached aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Using cached frozenlist-1.5.0-cp312-cp312-win_amd64.whl (51 kB)
Using cached multidict-6.1.0-cp312-cp312-win_amd64.whl (28 kB)
Using cached propcache-0.2.0-cp312-cp312-win_amd64.whl (44 kB)
Using cached yarl-1.18.0-cp312-cp312-win_amd64.whl (90 kB)
Installing collected packages: propcache, multidict, maxminddb, frozenlist, aiohappyeyeballs, yarl, aiosignal, aiohttp, geoip2
Successfully installed aiohappyeyeballs-2.4.4 aiohttp-3.11.8 aiosignal-1.3.1 frozenlist-1.5.0 geoip2-4.8.1 maxminddb-2.6.2 multidict-6.1.0 propcache-0.2.0 yarl-1.18.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# Загрузка датасета
file_path = r"dataset.csv"  # Укажите путь к вашему файлу
data = pd.read_csv(file_path)

# Проверка структуры данных
print(data.head())

# Проверка на пропущенные значения
print(data.isnull().sum())

   Unnamed: 0  transaction_id             ip  device_id device_type  \
0           0         1157921    91.107.0.90      982.0   prtbl trm
1           1         1595205   37.0.127.150     1033.0    port_trm
2           2         1656884  185.233.0.240       96.0         atm
3           3         1673909    91.107.0.90      982.0   prtbl trm
4           4         1689203   188.43.0.135     1413.0         ATM

   tran_code   mcc  client_id card_type  pin_inc_count card_status  \
0         30  7103  969838140     DEBIT              0      active
1         30  2031  969838140     DEBIT              0      active
2         25  4629  969838140     DEBIT              0      active
3         30  4629  969838140     DEBIT              0      active
4         10  5840  969838140     DEBIT              0      active

  expiration_date             datetime     sum   oper_type    balance
0      2030-06-10  2022-03-09 09:56:51  510.22    transfer  670814.78
1      2030-06-10  2022-03-10 09:38:45  509.84    transfer  670304.94
2      2030-06-10  2022-03-21 23:29:57  509.86  diff_cntry  669795.08
3      2030-06-10  2022-03-24 02:18:28  510.05    transfer  669285.03
4      2030-06-10  2022-07-07 09:22:18  510.01      in_acc  669795.04
Unnamed: 0         0
transaction_id     0
ip                 0
device_id          0
device_type        0
tran_code          0
mcc                0
client_id          0
card_type          0
pin_inc_count      0
card_status        0
expiration_date    0
datetime           0
sum                0
oper_type          0
balance            0
dtype: int64

In [5]:
data['datetime'] = pd.to_datetime(data['datetime'], errors='coerce')
# Удаляем столбец 'Unnamed: 0'
data = data.drop(columns=['Unnamed: 0'])

# Сортировка данных по 'client_id' datetime
#data_sorted = data.sort_values(by=['client_id', 'datetime'], ascending=[True, True]).reset_index(drop=True)
data_sorted = data

# Печать отсортированного датасета
print(data_sorted)

       transaction_id             ip  device_id device_type  tran_code   mcc  \
0             1157921    91.107.0.90      982.0   prtbl trm         30  7103
1             1595205   37.0.127.150     1033.0    port_trm         30  2031
2             1656884  185.233.0.240       96.0         atm         25  4629
3             1673909    91.107.0.90      982.0   prtbl trm         30  4629
4             1689203   188.43.0.135     1413.0         ATM         10  5840
...               ...            ...        ...         ...        ...   ...
53074         9919604    91.122.0.15      431.0         atm         25  3193
53075         9902369    91.122.0.15      431.0         atm         10  7071
53076         9939711     2.94.0.240     1042.0         atm         10  3686
53077         9876313   188.0.162.75      494.0         atm         25  7602
53078         9791767    46.0.43.105     1489.0         atm         20  9729

       client_id card_type  pin_inc_count card_status expiration_date  \
0      969838140     DEBIT              0      active      2030-06-10
1      969838140     DEBIT              0      active      2030-06-10
2      969838140     DEBIT              0      active      2030-06-10
3      969838140     DEBIT              0      active      2030-06-10
4      969838140     DEBIT              0      active      2030-06-10
...          ...       ...            ...         ...             ...
53074  526745565    CREDIT              0         act      2028-01-25
53075  364757022    CREDIT              0      active      2028-08-16
53076  828308371     DEBIT              0      active      2030-03-08
53077  191845802    CREDIT              0         act      2025-06-04
53078  860457500    CREDIT              0      active      2027-04-11

                 datetime      sum         oper_type        balance
0     2022-03-09 09:56:51   510.22          transfer  670814.780000
1     2022-03-10 09:38:45   509.84          transfer  670304.940000
2     2022-03-21 23:29:57   509.86        diff_cntry  669795.080000
3     2022-03-24 02:18:28   510.05          transfer  669285.030000
4     2022-07-07 09:22:18   510.01            in_acc  669795.040000
...                   ...      ...               ...            ...
53074 2024-10-28 09:38:58   521.37  country_transfer  183309.130385
53075 2024-11-13 03:44:07   618.99        add_on_acc  337518.880175
53076 2024-11-04 14:41:05   956.15            in_acc  115192.932982
53077 2024-11-23 22:36:43  1194.06        diff_cntry  128429.849643
53078 2024-11-28 17:40:33   496.93          from_acc  140533.321154

[53079 rows x 15 columns]

In [7]:
import geoip2.database

# Путь к базе данных GeoLite2 (если файл в той же папке)
reader = geoip2.database.Reader('GeoLite2-City.mmdb')

# Функция для получения города по IP-адресу
def get_city_from_ip(ip):
    try:
        # Получаем данные о местоположении
        response = reader.city(ip)
        city = response.city.name  # Извлекаем название города
        
        # Если город не найден (None), возвращаем 'Unknown'
        if city is None:
            return 'Unknown'
        
        return city
    except geoip2.errors.AddressNotFoundError:
        return 'Unknown'  # Если IP-адрес не найден

# Применение функции к вашему датасету
data_sorted['ip_city'] = data_sorted['ip'].apply(get_city_from_ip)

# Посмотрим на результат
data_sorted[['ip', 'ip_city']].head()

              ip  ip_city
0    91.107.0.90   Tehran
1   37.0.127.150   Moscow
2  185.233.0.240   Almaty
3    91.107.0.90   Tehran
4   188.43.0.135  Unknown

In [4]:
# Проверяем уникальные значения и их количество для каждого столбца
device_type_values = data_sorted['device_type'].value_counts()
card_type_values = data_sorted['card_type'].value_counts()
card_status_values = data_sorted['card_status'].value_counts()
oper_type_values = data_sorted['oper_type'].value_counts()
ip_city_values = data_sorted['ip_city'].value_counts()

# Печатаем результаты
print("Device Type Values:")
print(device_type_values)
print("\nCard Type Values:")
print(card_type_values)
print("\nCard Status Values:")
print(card_status_values)
print("\nOper Type Values:")
print(oper_type_values)
print("\nOper Type Values:")
print(ip_city_values)

Device Type Values:
device_type
atm              10592
ATM               9975
cash_in           7555
cash_out          7306
pos trm           4985
prtbl trm         4317
port_trm          4315
Portable term     4034
Name: count, dtype: int64

Card Type Values:
card_type
CREDIT    27091
DEBIT     25988
Name: count, dtype: int64

Card Status Values:
card_status
active     27451
act        25539
blk           48
blocked       41
Name: count, dtype: int64

Oper Type Values:
oper_type
payment             13204
transfer             8826
diff_cntry           4204
country_transfer     4155
in_acc               2769
decrease_on_acc      2665
in                   2657
from_acc             2595
out                  2587
add_on_acc           2515
bad                  2350
err_code             2312
err                  2238
blocked                 1
blk                     1
Name: count, dtype: int64

Oper Type Values:
ip_city
Unknown                     16820
Samara                       9388
Moscow                       7261
Grozny                       2527
Yekaterinburg                1671
Novosibirsk                  1550
Ryazan                        928
Euskirchen                    924
Ufa                           915
Vladivostok                   897
Sochi                         896
Novorossiysk                  856
Kyzyl                         855
Kemerovo                      847
Aksay                         843
Rickmansworth                 837
Makiivka                      811
Petropavlovsk-Kamchatsky      782
Tehran                        772
Odintsovo                     726
Chita                         666
Almaty                        624
Zarinsk                       361
Biysk                         104
Kirovo-Chepetsk                44
Simferopol                     44
Zheleznogorsk                  44
St Petersburg                  43
Klin                           43
Name: count, dtype: int64

In [8]:
# Приводим к общим признакам для device_type
device_type_mapping = {
    'ATM': 'atm',
    'atm': 'atm',  # Если хотите оставить 'atm' как общий
    'cash_in': 'cash_in',
    'cash_out': 'cash_out',
    'pos trm': 'pos_trm',
    'prtbl trm': 'prtbl_trm',
    'port_trm': 'prtbl_trm',
    'Portable term': 'prtbl_trm'  # Можно объединить с port_trm
}

data_sorted['device_type'] = data_sorted['device_type'].replace(device_type_mapping)

# Приводим к общим признакам для card_status
card_status_mapping = {
    'active': 'active',
    'act': 'active',  # Объединяем 'act' с 'active'
    'blk': 'blocked',  # Объединяем 'blk' и 'blocked'
    'blocked': 'blocked'
}

data_sorted['card_status'] = data_sorted['card_status'].replace(card_status_mapping)

# Приводим к общим признакам для oper_type
oper_type_mapping = {
    'payment': 'payment',
    'transfer': 'transfer',
    'diff_cntry': 'transfer',  # Приводим к одному типу операции
    'country_transfer': 'transfer',
    'in_acc': 'in_acc',
    'decrease_on_acc': 'decrease_on_acc',
    'in': 'in_acc',
    'from_acc': 'from_acc',
    'out': 'from_acc',
    'add_on_acc': 'add_on_acc',
    'bad': 'bad',
    'err_code': 'error',
    'err': 'error',
    'blocked': 'blocked',
    'blk': 'blocked'  # Приводим 'blk' к 'blocked'
}

data_sorted['oper_type'] = data_sorted['oper_type'].replace(oper_type_mapping)

# Просмотр обновленных значений
print("Updated Device Type Values:")
print(data_sorted['device_type'].value_counts())

print("\nUpdated Card Status Values:")                            
print(data_sorted['card_status'].value_counts())

print("\nUpdated Oper Type Values:")
print(data_sorted['oper_type'].value_counts())

Updated Device Type Values:
device_type
atm          20567
prtbl_trm    12666
cash_in       7555
cash_out      7306
pos_trm       4985
Name: count, dtype: int64

Updated Card Status Values:
card_status
active     52990
blocked       89
Name: count, dtype: int64

Updated Oper Type Values:
oper_type
transfer           17185
payment            13204
in_acc              5426
from_acc            5182
error               4550
decrease_on_acc     2665
add_on_acc          2515
bad                 2350
blocked                2
Name: count, dtype: int64

In [9]:
# Сохранение измененного датасета в CSV
data_sorted.to_csv('modified_data.csv', index=False)

# Проверим, что файл был сохранен
print("Датасет успешно сохранен в файл 'modified_data.csv'")

Датасет успешно сохранен в файл 'modified_data.csv'

In [10]:
# Печать отсортированного датасета
print(data_sorted)

       transaction_id             ip  device_id device_type  tran_code   mcc  \
0             1157921    91.107.0.90      982.0   prtbl_trm         30  7103
1             1595205   37.0.127.150     1033.0   prtbl_trm         30  2031
2             1656884  185.233.0.240       96.0         atm         25  4629
3             1673909    91.107.0.90      982.0   prtbl_trm         30  4629
4             1689203   188.43.0.135     1413.0         atm         10  5840
...               ...            ...        ...         ...        ...   ...
53074         9919604    91.122.0.15      431.0         atm         25  3193
53075         9902369    91.122.0.15      431.0         atm         10  7071
53076         9939711     2.94.0.240     1042.0         atm         10  3686
53077         9876313   188.0.162.75      494.0         atm         25  7602
53078         9791767    46.0.43.105     1489.0         atm         20  9729

       client_id card_type  pin_inc_count card_status expiration_date  \
0      969838140     DEBIT              0      active      2030-06-10
1      969838140     DEBIT              0      active      2030-06-10
2      969838140     DEBIT              0      active      2030-06-10
3      969838140     DEBIT              0      active      2030-06-10
4      969838140     DEBIT              0      active      2030-06-10
...          ...       ...            ...         ...             ...
53074  526745565    CREDIT              0      active      2028-01-25
53075  364757022    CREDIT              0      active      2028-08-16
53076  828308371     DEBIT              0      active      2030-03-08
53077  191845802    CREDIT              0      active      2025-06-04
53078  860457500    CREDIT              0      active      2027-04-11

                 datetime      sum   oper_type        balance        ip_city
0     2022-03-09 09:56:51   510.22    transfer  670814.780000         Tehran
1     2022-03-10 09:38:45   509.84    transfer  670304.940000         Moscow
2     2022-03-21 23:29:57   509.86    transfer  669795.080000         Almaty
3     2022-03-24 02:18:28   510.05    transfer  669285.030000         Tehran
4     2022-07-07 09:22:18   510.01      in_acc  669795.040000        Unknown
...                   ...      ...         ...            ...            ...
53074 2024-10-28 09:38:58   521.37    transfer  183309.130385  St Petersburg
53075 2024-11-13 03:44:07   618.99  add_on_acc  337518.880175  St Petersburg
53076 2024-11-04 14:41:05   956.15      in_acc  115192.932982        Unknown
53077 2024-11-23 22:36:43  1194.06    transfer  128429.849643         Grozny
53078 2024-11-28 17:40:33   496.93    from_acc  140533.321154         Samara

[53079 rows x 16 columns]

In [11]:
# Загрузка датасета
file_path2 = r"modified_data.csv"  # Укажите путь к вашему файлу
data2 = pd.read_csv(file_path2)

# Проверка структуры данных
print(data2.head())

   transaction_id             ip  device_id device_type  tran_code   mcc  \
0         1157921    91.107.0.90      982.0   prtbl_trm         30  7103
1         1595205   37.0.127.150     1033.0   prtbl_trm         30  2031
2         1656884  185.233.0.240       96.0         atm         25  4629
3         1673909    91.107.0.90      982.0   prtbl_trm         30  4629
4         1689203   188.43.0.135     1413.0         atm         10  5840

   client_id card_type  pin_inc_count card_status expiration_date  \
0  969838140     DEBIT              0      active      2030-06-10
1  969838140     DEBIT              0      active      2030-06-10
2  969838140     DEBIT              0      active      2030-06-10
3  969838140     DEBIT              0      active      2030-06-10
4  969838140     DEBIT              0      active      2030-06-10

              datetime     sum oper_type    balance  ip_city
0  2022-03-09 09:56:51  510.22  transfer  670814.78   Tehran
1  2022-03-10 09:38:45  509.84  transfer  670304.94   Moscow
2  2022-03-21 23:29:57  509.86  transfer  669795.08   Almaty
3  2022-03-24 02:18:28  510.05  transfer  669285.03   Tehran
4  2022-07-07 09:22:18  510.01    in_acc  669795.04  Unknown

In [12]:
from sklearn.preprocessing import LabelEncoder

# Создание объекта LabelEncoder
label_encoder = LabelEncoder()

# Список столбцов, для которых нужно применить Label Encoding
columns_to_encode = ['device_type', 'card_type', 'card_status', 'oper_type', 'ip_city']

# Применяем Label Encoding к каждому столбцу
for column in columns_to_encode:
    data_sorted[column] = label_encoder.fit_transform(data_sorted[column])

# Проверим результат (первые несколько строк)
print(data_sorted.head())

   transaction_id             ip  device_id  device_type  tran_code   mcc  \
0         1157921    91.107.0.90      982.0            4         30  7103
1         1595205   37.0.127.150     1033.0            4         30  2031
2         1656884  185.233.0.240       96.0            0         25  4629
3         1673909    91.107.0.90      982.0            4         30  4629
4         1689203   188.43.0.135     1413.0            0         10  5840

   client_id  card_type  pin_inc_count  card_status expiration_date  \
0  969838140          1              0            0      2030-06-10
1  969838140          1              0            0      2030-06-10
2  969838140          1              0            0      2030-06-10
3  969838140          1              0            0      2030-06-10
4  969838140          1              0            0      2030-06-10

             datetime     sum  oper_type    balance  ip_city
0 2022-03-09 09:56:51  510.22          8  670814.78       22
1 2022-03-10 09:38:45  509.84          8  670304.94       11
2 2022-03-21 23:29:57  509.86          8  669795.08        1
3 2022-03-24 02:18:28  510.05          8  669285.03       22
4 2022-07-07 09:22:18  510.01          6  669795.04       24

In [13]:
# Проверяем уникальные значения и их количество для каждого столбца
device_type_values = data_sorted['device_type'].value_counts()
card_type_values = data_sorted['card_type'].value_counts()
card_status_values = data_sorted['card_status'].value_counts()
oper_type_values = data_sorted['oper_type'].value_counts()
ip_city_values = data_sorted['ip_city'].value_counts()

# Печатаем результаты
print("Device Type Values:")
print(device_type_values)
print("\nCard Type Values:")
print(card_type_values)
print("\nCard Status Values:")
print(card_status_values)
print("\nOper Type Values:")
print(oper_type_values)
print("\nOper Type Values:")
print(ip_city_values)

Device Type Values:
device_type
0    20567
4    12666
1     7555
2     7306
3     4985
Name: count, dtype: int64

Card Type Values:
card_type
0    27091
1    25988
Name: count, dtype: int64

Card Status Values:
card_status
0    52990
1       89
Name: count, dtype: int64

Oper Type Values:
oper_type
8    17185
7    13204
6     5426
5     5182
4     4550
3     2665
0     2515
1     2350
2        2
Name: count, dtype: int64

Oper Type Values:
ip_city
24    16820
18     9388
11     7261
5      2527
26     1671
13     1550
17      928
4       924
23      915
25      897
20      896
12      856
9       855
6       847
0       843
16      837
10      811
15      782
22      772
14      726
3       666
1       624
27      361
2       104
7        44
19       44
28       44
8        43
21       43
Name: count, dtype: int64

In [14]:
# Сохранение измененного датасета в CSV
data_sorted.to_csv('modified_data_encode.csv', index=False)

# Проверим, что файл был сохранен
print("Датасет успешно сохранен в файл 'modified_data_encode.csv'")

Датасет успешно сохранен в файл 'modified_data_encode.csv'

In [15]:
# Загрузка датасета
file_path3 = r"modified_data_encode.csv"  # Укажите путь к вашему файлу
data3 = pd.read_csv(file_path3)# Сортировка данных по 'client_id' datetime
#data_sorted = data3.sort_values(by=['client_id', 'datetime'], ascending=[True, True]).reset_index(drop=True)


# Печать отсортированного датасета
print(data_sorted)
data_sorted.to_csv('modified_data_encode_sorted.csv', index=False)

       transaction_id             ip  device_id  device_type  tran_code   mcc  \
0             1157921    91.107.0.90      982.0            4         30  7103
1             1595205   37.0.127.150     1033.0            4         30  2031
2             1656884  185.233.0.240       96.0            0         25  4629
3             1673909    91.107.0.90      982.0            4         30  4629
4             1689203   188.43.0.135     1413.0            0         10  5840
...               ...            ...        ...          ...        ...   ...
53074         9919604    91.122.0.15      431.0            0         25  3193
53075         9902369    91.122.0.15      431.0            0         10  7071
53076         9939711     2.94.0.240     1042.0            0         10  3686
53077         9876313   188.0.162.75      494.0            0         25  7602
53078         9791767    46.0.43.105     1489.0            0         20  9729

       client_id  card_type  pin_inc_count  card_status expiration_date  \
0      969838140          1              0            0      2030-06-10
1      969838140          1              0            0      2030-06-10
2      969838140          1              0            0      2030-06-10
3      969838140          1              0            0      2030-06-10
4      969838140          1              0            0      2030-06-10
...          ...        ...            ...          ...             ...
53074  526745565          0              0            0      2028-01-25
53075  364757022          0              0            0      2028-08-16
53076  828308371          1              0            0      2030-03-08
53077  191845802          0              0            0      2025-06-04
53078  860457500          0              0            0      2027-04-11

                 datetime      sum  oper_type        balance  ip_city
0     2022-03-09 09:56:51   510.22          8  670814.780000       22
1     2022-03-10 09:38:45   509.84          8  670304.940000       11
2     2022-03-21 23:29:57   509.86          8  669795.080000        1
3     2022-03-24 02:18:28   510.05          8  669285.030000       22
4     2022-07-07 09:22:18   510.01          6  669795.040000       24
...                   ...      ...        ...            ...      ...
53074 2024-10-28 09:38:58   521.37          8  183309.130385       21
53075 2024-11-13 03:44:07   618.99          0  337518.880175       21
53076 2024-11-04 14:41:05   956.15          6  115192.932982       24
53077 2024-11-23 22:36:43  1194.06          8  128429.849643        5
53078 2024-11-28 17:40:33   496.93          5  140533.321154       18

[53079 rows x 16 columns]

In [18]:
data_sorted['expiration_date'] = pd.to_datetime(data_sorted['expiration_date'], errors='coerce')

data_sorted['datetime'] = pd.to_datetime(data_sorted['datetime'], errors='coerce')
# 1. Извлекаем день недели
data_sorted['day_of_week'] = data_sorted['datetime'].dt.dayofweek

# 2. Извлекаем час дня
data_sorted['hour_of_day'] = data_sorted['datetime'].dt.hour

# 3. Извлекаем месяц
data_sorted['month'] = data_sorted['datetime'].dt.month

# 4. Рассчитываем разницу во времени (в секундах) между транзакциями одного клиента
data_sorted['time_diff'] = data_sorted.groupby('client_id')['datetime'].diff().dt.total_seconds()

In [19]:
# Печать отсортированного датасета
print(data_sorted)

       transaction_id             ip  device_id  device_type  tran_code   mcc  \
0             1157921    91.107.0.90      982.0            4         30  7103
1             1595205   37.0.127.150     1033.0            4         30  2031
2             1656884  185.233.0.240       96.0            0         25  4629
3             1673909    91.107.0.90      982.0            4         30  4629
4             1689203   188.43.0.135     1413.0            0         10  5840
...               ...            ...        ...          ...        ...   ...
53074         9919604    91.122.0.15      431.0            0         25  3193
53075         9902369    91.122.0.15      431.0            0         10  7071
53076         9939711     2.94.0.240     1042.0            0         10  3686
53077         9876313   188.0.162.75      494.0            0         25  7602
53078         9791767    46.0.43.105     1489.0            0         20  9729

       client_id  card_type  pin_inc_count  card_status expiration_date  \
0      969838140          1              0            0      2030-06-10
1      969838140          1              0            0      2030-06-10
2      969838140          1              0            0      2030-06-10
3      969838140          1              0            0      2030-06-10
4      969838140          1              0            0      2030-06-10
...          ...        ...            ...          ...             ...
53074  526745565          0              0            0      2028-01-25
53075  364757022          0              0            0      2028-08-16
53076  828308371          1              0            0      2030-03-08
53077  191845802          0              0            0      2025-06-04
53078  860457500          0              0            0      2027-04-11

                 datetime      sum  oper_type        balance  ip_city  \
0     2022-03-09 09:56:51   510.22          8  670814.780000       22
1     2022-03-10 09:38:45   509.84          8  670304.940000       11
2     2022-03-21 23:29:57   509.86          8  669795.080000        1
3     2022-03-24 02:18:28   510.05          8  669285.030000       22
4     2022-07-07 09:22:18   510.01          6  669795.040000       24
...                   ...      ...        ...            ...      ...
53074 2024-10-28 09:38:58   521.37          8  183309.130385       21
53075 2024-11-13 03:44:07   618.99          0  337518.880175       21
53076 2024-11-04 14:41:05   956.15          6  115192.932982       24
53077 2024-11-23 22:36:43  1194.06          8  128429.849643        5
53078 2024-11-28 17:40:33   496.93          5  140533.321154       18

       day_of_week  hour_of_day  month  time_diff
0                2            9      3        NaN
1                3            9      3    85314.0
2                0           23      3  1000272.0
3                3            2      3   182911.0
4                3            9      7  9097430.0
...            ...          ...    ...        ...
53074            0            9     10        0.0
53075            2            3     11        0.0
53076            0           14     11        0.0
53077            5           22     11        0.0
53078            3           17     11        0.0

[53079 rows x 20 columns]

In [30]:
# Удаляем последний столбец
data_sorted = data_sorted.drop(columns=[data_sorted.columns[-1]])

# Проверим, что столбец удален
print(data_sorted.head())
data_sorted.to_csv('modified_data_encode_sorted_datatime.csv', index=False)

   transaction_id             ip  device_id  device_type  tran_code   mcc  \
0         1107483  109.126.0.150      376.0            0         10  9534
1         1132931    151.0.38.90      394.0            0        451  6735
2         1297102  194.0.144.180      175.0            3        451  7349
3         1338602    195.58.0.15     1425.0            0         10  9618
4         1338948    188.0.0.105     1213.0            2         20  2440

   client_id  card_type  pin_inc_count  card_status expiration_date  \
0  101648380          0              0            0      2030-07-04
1  101648380          0              0            0      2030-07-04
2  101648380          0              0            0      2030-07-04
3  101648380          0              0            0      2030-07-04
4  101648380          0              0            0      2030-07-04

             datetime     sum  oper_type    balance  ip_city  day_of_week  \
0 2022-02-09 17:50:08  506.24          6  802028.24       25            2
1 2022-02-21 19:39:05  505.87          7  801522.37       10            0
2 2022-03-15 04:35:03  505.74          7  801016.63       24            1
3 2022-03-26 19:32:45  506.09          6  801522.72       24            5
4 2022-04-16 02:54:10  505.77          3  801016.95       24            5

   hour_of_day  month
0           17      2
1           19      2
2            4      3
3           19      3
4            2      4

In [21]:
data_sorted.dtypes

transaction_id              int64
ip                         object
device_id                 float64
device_type                 int64
tran_code                   int64
mcc                         int64
client_id                   int64
card_type                   int64
pin_inc_count               int64
card_status                 int64
expiration_date    datetime64[ns]
datetime           datetime64[ns]
sum                       float64
oper_type                   int64
balance                   float64
ip_city                     int64
day_of_week                 int32
hour_of_day                 int32
month                       int32
time_diff                 float64
dtype: object

In [24]:
# Преобразование столбца 'device_id' из float в int
data_sorted['device_id'] = data_sorted['device_id'].astype(int)

# Округление столбцов 'balance' и 'sum' до 2 знаков после запятой
data_sorted['balance'] = data_sorted['balance'].round(2)
data_sorted['sum'] = data_sorted['sum'].round(2)
# Удаляем последний столбец
data_sorted = data_sorted.drop(data_sorted.columns[-1], axis=1)
# Выводим результат
print(data_sorted)
data_sorted.to_csv('modified_data_encode_sorted_datatime.csv', index=False)

       transaction_id             ip  device_id  device_type  tran_code   mcc  \
0             1157921    91.107.0.90        982            4         30  7103
1             1595205   37.0.127.150       1033            4         30  2031
2             1656884  185.233.0.240         96            0         25  4629
3             1673909    91.107.0.90        982            4         30  4629
4             1689203   188.43.0.135       1413            0         10  5840
...               ...            ...        ...          ...        ...   ...
53074         9919604    91.122.0.15        431            0         25  3193
53075         9902369    91.122.0.15        431            0         10  7071
53076         9939711     2.94.0.240       1042            0         10  3686
53077         9876313   188.0.162.75        494            0         25  7602
53078         9791767    46.0.43.105       1489            0         20  9729

       client_id  card_type  pin_inc_count  card_status expiration_date  \
0      969838140          1              0            0      2030-06-10
1      969838140          1              0            0      2030-06-10
2      969838140          1              0            0      2030-06-10
3      969838140          1              0            0      2030-06-10
4      969838140          1              0            0      2030-06-10
...          ...        ...            ...          ...             ...
53074  526745565          0              0            0      2028-01-25
53075  364757022          0              0            0      2028-08-16
53076  828308371          1              0            0      2030-03-08
53077  191845802          0              0            0      2025-06-04
53078  860457500          0              0            0      2027-04-11

                 datetime      sum  oper_type    balance  ip_city  \
0     2022-03-09 09:56:51   510.22          8  670814.78       22
1     2022-03-10 09:38:45   509.84          8  670304.94       11
2     2022-03-21 23:29:57   509.86          8  669795.08        1
3     2022-03-24 02:18:28   510.05          8  669285.03       22
4     2022-07-07 09:22:18   510.01          6  669795.04       24
...                   ...      ...        ...        ...      ...
53074 2024-10-28 09:38:58   521.37          8  183309.13       21
53075 2024-11-13 03:44:07   618.99          0  337518.88       21
53076 2024-11-04 14:41:05   956.15          6  115192.93       24
53077 2024-11-23 22:36:43  1194.06          8  128429.85        5
53078 2024-11-28 17:40:33   496.93          5  140533.32       18

       day_of_week  hour_of_day  month
0                2            9      3
1                3            9      3
2                0           23      3
3                3            2      3
4                3            9      7
...            ...          ...    ...
53074            0            9     10
53075            2            3     11
53076            0           14     11
53077            5           22     11
53078            3           17     11

[53079 rows x 19 columns]